.mapContainer {
    background-image: url("../../assets/Miscellaneous/leftpattern.jpg"), url("../../assets/Miscellaneous/rightpattern.jpg") ;
    background-position: left top, right top;
    background-repeat: repeat-y, repeat-y;
    background-color: white;
    height: 70%;
    padding-left: 20%;
    overflow: hidden;
    padding: 20px;
}
.map {
    width: 500px;
    height:600px;
    margin-top: 50px;
} 
@media only screen and (max-width: 1200px) {
  .map {
    width:300px;
    height:300px;
  }
}
@media only screen and (max-width: 600px) {
  .map {
    width:80%;
    height:100%;
  }
  .btn {
    color: #008a8a;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #008a8a;
    border-radius: 10px;
    font-weight: bold;
    width:80%;
    padding: 0 !important;
}
.showcasecontent .btn {
    font-size: 1.5rem;
    padding: 1rem !important;
    transition: color 0.5s,  background 0.5s;
}
}
html{
    scroll-behavior: smooth;
    width:100%;
    overflow-x: hidden;   
}
body{
    overflow-x: hidden;
    padding-right:0px !important;
    background: #008a8a;
}
.showcase {
    background: url(../../assets/Rivers/HomePage_Chatta.jfif) no-repeat center center/cover;
    height: 96.7vh;
    max-width: 100%;
    position: relative;
}
.showcase:before {
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(0,0,0,.38);
}
.showcasecontent {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 35px;
    right: 0;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #fff;  
}
.showcasecontent .Title{
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #00FFFF;
}
.showcasecontent .btn {
    font-size: 1.5rem;
    padding: 1rem 10rem;
    transition: color 0.5s,  background 0.5s;
}
.showcasecontent .btn:hover {
    background: #008a8a;
    color: #fff;
}
.btn {
    color: #008a8a;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid #008a8a;
    border-radius: 10px;
    font-weight: bold;
}
.container {
    max-width: 1100px;
    margin: auto;
    color: black;
}
.text{
    background-image: url("../../assets/Miscellaneous/leftpattern.jpg");
    background-repeat: repeat-y;
    background-color: white;
    color: #000000;
    padding-left:20%;
    padding-right:20%;
    padding-top: 25px;
    margin:auto;
}
p{
    margin-bottom:0px;
    color: black;
}
.chevron {
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: #fffffff1;
  border-width: 0px 5px 5px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
  position:absolute;
  bottom:15px;
}
.chevron:hover {
  border-bottom-width: 7px;
  border-right-width: 7px;
}
.chevronContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}
@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}