.navbar{
    position: sticky;
}
.background{
    background: white;
}
.normal{
    display: inline;
}
.mobile{
    display: none;
}
@media only screen and (max-width: 700px) {
  .mobile{
    display: inline;
    width: 100%;
  }
  .normal{
      display: none;
  }
}