.itemLeft{
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    background-size: cover;
    float:left;
    padding:0;
}
.itemRight{
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    background-size: cover;
    float:right;
    padding:0;
}

.list{
    float:right;
    text-align: center;
    width:420px;
    color:red;
    margin-right:15%;
}
