.Footer{
    background: #008a8a;
    width: 100%;
    position: relative;
}
.icons{
    padding-top: 15px;
    margin: auto;
    text-align: center;
}
.h2{
    color: #3fbcef;
    background: black;
}