@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap');

.accord{
    display: none;
}

@media only screen and (max-width: 1200px) {
  .map {
    width:300px;
    height:300px;
  }
  .accord{
    display: inline;
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .map {
    width:300px;
    height:300px;
  }
  .accord{
    width:300px;
    height:300px;
  }
}
@media only screen and (max-width: 600px) {
  .map {
    width:80%;
    height:100%;
  }
  .btn {
    color: #00ffff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #00ffff;
    border-radius: 10px;
    font-weight: bold;
    width:80%;
    padding: 0 !important;
}
.showcasecontent .btn {
    font-size: 1.5rem;
    padding: 1rem !important;
    transition: color 0.5s,  background 0.5s;
}
}

body{
    overflow-x: hidden;
    padding-right:0px !important;
}

.chevron {

  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: #fffffff1;
  border-width: 0px 5px 5px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
  position:absolute;
  bottom:65px;
}


.chevron:hover {
  border-bottom-width: 7px;
  border-right-width: 7px;
}

.chevronContainer {
  display: flex;
  align-items: center;
  justify-content: center;

}


.showcase {
    /*background: url(../../assets/Rivers/Apalachicola_River.png) no-repeat center center/cover;*/
    height: 91.7vh;
    min-width: 100%;
    min-height: 90%;

}

.showcasecontent {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 35px;
    right: 0;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #fff;
    
}
.showcasecontent .Title{
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #00ffff;
}
.showcasecontent .btn {
    font-size: 1.5rem;
    padding: 1rem 10rem;
    transition: color 0.5s,  background 0.5s;
}

.showcasecontent .btn:hover {
    background: #00ffff;
    color: #fff;
}

.btn {
    color: #00ffff;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid #00ffff;
    border-radius: 10px;
    font-weight: bold;
}
.container {
    max-width: 1100px;
    margin: auto;
}
.text{
    background: #008a8a;
    padding-left:20%;
    padding-right:20%;
    padding-top: 25px;
    padding-bottom: 20px;
    margin:auto;
    box-shadow: inset 0px 10px 5px rgba(0, 0, 0, 0.349);

}
p{margin-bottom:0px;}